---
- connection: local
  hosts: localhost
  sudo: true
  remote_user: douglas
  vars:
    project: owncloud
  roles:
    - role: stevenharradine.static-ip
      static_ip_address: "192.168.1.{% if environment_tier=='development' %}98{% elif environment_tier=='production' %}9{% endif %}"
    - role: stevenharradine.hostname
    - role: stevenharradine.owncloud
  tasks:
    - name: copy boot.sh
      template:
        src: templates/boot.sh
        dest: /data/boot.sh
        owner: www-data
        group: www-data
        mode: 0755
    - name: create nessasary folders for services to run | cron
      cron:
        name: "create nessasary folders for services to run"
        special_time: reboot
        job: /bin/bash /data/boot.sh
    - name: enable pseudo-forge
      lineinfile:
        dest: /home/douglas/.bashrc
        state: present
        line: "alias reforge='cd /home/douglas/playbook-owncloud/ && sudo ansible-galaxy install -r dependencies.yml --force && ansible-playbook playbook -i hosts/development'"
        insertafter: EOF