---
- connection: local
  hosts: localhost
  sudo: true
  remote_user: douglas
  vars:
    project: owncloud
  roles:
    - role: stevenharradine.static-ip
      static_ip_address: "{{ ip_address }}"
    - role: stevenharradine.hostname
    - role: stevenharradine.owncloud
      owncloud_external_ip: "{{ ip_address }}"
  tasks:
    - name: copy boot.sh
      template:
        src: templates/boot.sh
        dest: /data/boot.sh
        owner: www-data
        group: www-data
        mode: 0755
    - name: create nessasary folders for services to run | cron
      cron:
        name: "create nessasary folders for services to run"
        special_time: reboot
        job: /bin/bash /data/boot.sh
    - name: enable pseudo-forge
      lineinfile:
        dest: /home/douglas/.bashrc
        state: present
        line: "alias reforge='cd /home/douglas/playbook-owncloud/ && sudo ansible-galaxy install -r dependencies.yml --force && ansible-playbook playbook.yml -i hosts/development'"
        insertafter: EOF
    - name: initalize database
      user: www-data
      command: php /data/www/docroot/owncloud/occ  maintenance:install --database "mysql" --database-name "owncloud"  --database-user "owncloud" --database-pass "secure_password" --admin-user "douglas" --admin-pass "password"
